# ----------------------------------------------------------------------------
# MDN Rumba CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/engineering

/Cargo.lock @mdn/engineering @mdn-bot 
/Cargo.toml @mdn/engineering @mdn-bot
