.settings.local.toml
.settings.test.toml
.settings*.json
secret-*.yaml
.env
.git/
.vscode/
.idea/
target/
!target/release/rumba
**/.terraform/*

# Exclude Temporary and Log Files.
# See: https://wiki.mozilla.org/GitHub/Repository_Security/GitHub_Workflows_%26_Actions#Docker_Security_Best_Practices
*.log
*.tmp

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
