.settings.local.toml
.settings.test.toml
.settings*.json
secret-*.yaml
.env
.git/
.vscode/
.idea/
target/
!target/release/rumba
**/.terraform/*

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
